:root {
  --vector-teal: #9CD3B8;
  --dark-teal: #99C8B1;
  --vector-orange: #F67327;
  --vector-red: #CD1C18;
  --vector-red-2: #F05959;
  --grey-100: #F9F9F9;
  --grey-200: #EFEFF4;
  --grey-300: #EBE8E8;
  --grey-500: #C8C7CC;
  --grey-600: #3E4D48;
  --grey-900: #2A3431;
  --white: #FFFFFF;
  --background-alt: #EFEFF4;
  --foreground-alt: #000000;
  --background: #2B2B2B;
  --foreground: #FFFFFF;
  --card: #2B2B2B;
  --card-foreground: #FFFFFF;
  --popover: #3A4542;
  --popover-foreground: #FFFFFF;
  --primary: #9CD3B8;
  --primary-foreground: #161616;
  --secondary: #F67327;
  --secondary-foreground: #161616;
  --muted: #293330;
  --muted-foreground: #C7E5D2;
  --accent: #F67327;
  --accent-foreground: #161616;
  --destructive: #D22B2B;
  --destructive-foreground: #FFFFFF;
  --border: #3A4542;
  --input: #9CD3B8;
  --ring: #3A4542;
  --sidebar: #2B2B2B;
  --sidebar-foreground: #FFFFFF;
  --sidebar-primary: #9CD3B8;
  --sidebar-primary-foreground: #293330;
  --sidebar-accent: #F67327;
  --sidebar-accent-foreground: #293330;
  --sidebar-border: #2B2B2B;
  --sidebar-ring: #2B2B2B;
  --chart-1: #FF6384;
  --chart-2: #36A2EB;
  --chart-3: #FFCE56;
  --chart-4: #4BC0C0;
  --chart-5: #9966FF;
  --negative: #FF0000;
  --dark-green: #003300;
  --vp-font-family-base: var(--font-mona-sans), Helvetica, sans-serif;
  --vp-font-family-mono: Mona Sans, monospace;
  --vp-c-bg: var(--background-alt);
  --vp-c-bg-soft: var(--grey-100);
  --vp-c-bg-soft-2: var(--grey-300);
  --vp-c-divider: var(--grey-300);
  --vp-c-text-1: var(--foreground-alt);
  --vp-c-text-2: var(--grey-900);
  --vp-c-text-3: var(--grey-600);
  --vp-c-brand-1: var(--primary);
  --vp-c-brand-2: var(--secondary);
  --vp-c-brand-3: var(--vector-teal);
  --vp-c-brand-soft: rgba(156, 211, 184, 0.15);
  --vp-c-surface-1: var(--white);
  --vp-c-surface-2: var(--grey-100);
  --vp-c-surface-3: var(--grey-200);
  --vp-shadow-1: 0 4px 60px -15px rgba(0, 0, 0, 0.3);
  --vp-shadow-2: 0 20px 25px -5px rgba(0,0,0,0.1), 0 10px 10px -5px rgba(0,0,0,0.04);
  --vp-code-block-bg: var(--white);
  --vp-code-line-highlight: rgba(156, 211, 184, 0.25);
  --vp-code-border: var(--grey-300);
  --vp-c-success-1: #10b981;
  --vp-c-warning-1: #f59e0b;
  --vp-c-danger-1: #ef4444;
}

:root.dark {
  --vp-c-bg: var(--background);
  --vp-c-bg-soft: var(--background);
  --vp-c-bg-soft-2: var(--popover);
  --vp-c-divider: var(--popover);
  --vp-c-text-1: var(--foreground);
  --vp-c-text-2: var(--muted-foreground);
  --vp-c-text-3: var(--dark-teal);
  --vp-c-brand-1: var(--primary);
  --vp-c-brand-2: var(--secondary);
  --vp-c-brand-3: var(--vector-teal);
  --vp-c-brand-soft: rgba(156, 211, 184, 0.12);
  --vp-c-surface-1: var(--background);
  --vp-c-surface-2: var(--popover);
  --vp-c-surface-3: var(--background);
  --vp-shadow-1: 0 4px 60px -15px rgba(0, 0, 0, 0.3);
  --vp-shadow-2: 0 20px 25px -5px rgba(0,0,0,0.2), 0 10px 10px -5px rgba(0,0,0,0.1);
  --vp-code-block-bg: var(--background);
  --vp-code-line-highlight: rgba(156, 211, 184, 0.18);
  --vp-code-border: var(--popover);
}
