@import "tailwindcss";

:root {
  --background: #EFEFF4;
  --foreground: #000000;
  --font-mona-sans: 'Mona Sans', Helvetica, sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-mona-sans), Helvetica, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: default;
}

.cursor-pointer img { cursor: pointer; }
::-webkit-scrollbar { display: none; }
button:focus { outline: none; }
